{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

{% block title %} {{ 'yacimiento.list.header' | trans }} {% endblock %}

{% block content %}
<br>
<br>
<br>
<h2>{{ 'yacimiento.list.header' | trans }}</h2>

<table class="table table-striped">
<thead>
	<tr>
		<th>{{ 'yacimiento.id' | trans }}</th>
		<th>{{ 'yacimiento.name' | trans }}</th>
		<th>{{ 'yacimiento.description' | trans }}</th>
		<th>{{ 'yacimiento.municipio' | trans }}</th>
		<th>{{ 'yacimiento.epoca' | trans }}</th>
		
		{% if is_granted('ROLE_APP_ADMIN') %}
		<th>{{ 'yacimiento.list.edit' | trans }}</th>
		<th>{{ 'yacimiento.list.delete' | trans }}</th>
		{% endif %}
	</tr>
	</thead>
	{% for yacimiento in yacimientos %}
	<tbody>
	<tr>
		<td><a href="{{ path('yacimientoshow', {'id' : yacimiento.id }) }}">
			{{ yacimiento.id }}</a></td>
		<td>{{ yacimiento.name }}</td>
		<td>{{ yacimiento.description }}</td>
		<td>{{ yacimiento.municipio }}</td>
		<td><a href="{{ path('yacimientolistByepoca', {'name' : yacimiento.epoca.name }) }}">			
			{{ yacimiento.epoca.name }}</a>
		</td>
		{% if is_granted('ROLE_APP_ADMIN') %}
		<td><a href="{{ path('yacimientoedit', {'id' : yacimiento.id }) }}">
			<i class="fa fa-pencil-square-o"></i></a></td>
		<td><a href="{{ path('yacimientodelete', {'id' : yacimiento.id }) }}">
			<i class="fa fa-trash fa-lg"></i></a></td>
	    {% endif %}
		
	</tr>
	</tbody>
	{% endfor %}
</table>

	<p><a href="{{ app.request.headers.get('referer') }}"><i class="fa fa-arrow-circle-left fa-2x">&nbsp</i>{{ 'form.back' | trans }}</a></p>

<br><br><br><hr>

{% endblock %}