{% extends 'base.html.twig' %} 

{% trans_default_domain 'AppBundle' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %} {{ 'yacimiento.new.title' | trans }} {% endblock %} 

{% block content %}
<br>
<br>
<br>

<h2>{{ 'yacimiento.new.title' | trans }}</h2>

<div class="row">
	<div class='col-sm-5'>
	
		{{ form_start(form) }}		
		{{ form_widget(form) }}		
		{{ form_end(form) }}
		
	</div>
</div>

	<p><a href="{{ app.request.headers.get('referer') }}"><i class="fa fa-arrow-circle-left fa-2x">&nbsp</i>{{ 'form.back' | trans }}</a></p>

<br><br><br><hr>

{% endblock %}