{% extends 'base.html.twig' %}

{% block content %}
    <h1>Yacimiento</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ yacimiento.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ yacimiento.nombreYac }}</td>
            </tr>
            <tr>
                <th>Expediente</th>
                <td>{{ yacimiento.expediente }}</td>
            </tr>
            <tr>
                <th>Fecha fin excavación</th>
                <td>{% if yacimiento.fechaExca %}{{ yacimiento.fechaExca|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Coordenadas</th>
                <td>{{ yacimiento.coordenadas }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ yacimiento.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('yacimiento_index') }}">Listado de yacimientos
        </li>
        <li>
            <a href="{{ path('yacimiento_edit', { 'id': yacimiento.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
